.navLink {
  display: block;
  text-decoration: none;
  color:rgb(20, 20, 20);
}

.navLink:hover {
  text-decoration: none;
  background: green;
  color:white;
}

.active{
  text-decoration: none;
  background: green;
  color:white;
}
